.menu-list-item-border{
    position: absolute;
    /* right: 0; */
    top: 50%;
    transform: translateY(-50%);
    width: 1.5px;
    height: 12px;
    background-color: grey;
}
.menu-List-item{
    position:relative;
}
.menu-list {
    display: flex;
    list-style-type: none;
}
.menu-item {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}