:root {
    /* color-list */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-accent: #03e9f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
    /* container size */
    --max-size-width:1200px;
}
* {
    /* 공통적으로 사용되는 폰트, 여백, 패딩 .. */
    font-family: 'Open Sans' , 'sans-serif';
    box-sizing: border-box;
    margin: 0; padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.title{
    font-size: 3rem;
    margin: 1rem 0;
}
section, footer{
    padding: 4rem;
    text-align: center;
}
section.container{
    width: var(--max-size-width);
    max-width: 100%;
    margin: auto;
}
.description{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
button{
    border: 0;
    outline: 0;
}
/*
header
*/
.header{
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0%;
}
.header-logo{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    gap: 8px;
}
.header-logo-title{
    font-size: 1.8rem;
    font-weight: bold;
}
.header-logo-img{
    width: 36px;
    height: 36px;
}
.header-menu{
    display: flex;
    gap: 1rem;
}
.header-menu-item{
    color: var(--color-white);
    padding: 8px 16px;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}
/*
    home
*/
#home{
    background-color: var(--color-black);
    width: 100%;
    padding-top: 7rem;
    padding: 5rem 1rem;
    text-align: center;
    color: var(--color-white);
}
.home-avatar{
    width: 150px;
    height: 150px;
    border: 4px solid var(--color-accent);
    border-radius: 100%;
}
.home-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.home-title.strong{
    color: var(--color-accent);
}
.home-description{
    font-size: 1.3rem;
}
.home-contact{
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 2rem;
    color: var(--color-black);
    background-color: var(--color-accent);
    border-radius: 4px;
}
/*
    about
*/
.majors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 2.5rem 0;
}
.major{
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
.major-icon{
    font-size: 4rem;
    color: var(--color-accent);
    margin-bottom: 1rem;
}
.jobs{
    text-align: start;
}
.job{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}
/*
    Skills
*/
#skill{
    background-color: var(--color-gray);
    color: var(--color-white);
}
.skills{
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
.skill-title{
    color: var(--color-accent);
    font-size: 1.2rem;
    margin: 1rem 0;
}
.skills-coding{
    grid-row: span 2;
    background-color: var(--color-black);
    padding: 1rem;
}
.skills-tools{
    padding: 1rem;
}
.skills-etc{
    padding: 1rem;
    background-color: var(--color-black);
    filter: brightness(150%);
}
.bar{
   display: flex;
   flex-direction: column;
   padding: 1rem;
   gap: 0.5rem;
}
.bar-title{
    display: flex;
    justify-content: space-between;
}
.bar-bg{
    width: 100%;
    height: 3px;
    background-color: var(--color-gray);
}
.bar-value{
    background-color: var(--color-accent);
    height: 3px;
}
/*
    mywork
*/
#mywork{
    background-color: var(--color-black);
    color: var(--color-white);
}
.categories{
    display: flex;
    margin: 2rem 0;
    gap: 1rem;
    justify-content: center;
}
.category{
    position: relative;
    color: var(--color-white);
    font-size: 1.2rem;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    padding: 0.5rem 3rem;
    background-color: var(--color-black);
}
.projects{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
}
.project{
    position: relative;
    overflow: hidden;
}
.project-img{
    width: 100%;
    border-radius: 4px;
}
.project-metadata{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    opacity: 0;
}
.project-metadata:hover{
    opacity: 0.5;
}
/*
    testimonial
*/
.testimonials{
    margin: 3rem;
}
.testimonial{
    display: flex;
    margin: 2rem;
    gap: 2rem;
    align-items: center;

}
.testimonial:nth-child(even) .testimonial-img{
    order: 1;
}
.testimonial-img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
.testimonial-text{
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
    border-radius: 8px;
    padding: 1rem;
}
.testimonial-text-name{
    font-weight: bold;
    color: var(--color-accent);
    display: inline-block;
    margin-top: 0.5rem;
}
/*
    arrow-up
*/
.arrow-up{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    color: var(--color-white);
    font-size: 3rem;
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    align-items: center;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
}
/*
    contact
*/
#contact{
    background-color: var(--color-black);
    color: var(--color-white);
}
.contact-links{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2rem;
    padding: 1rem;
}
.contact-link{
    color: var(--color-white);
}
.contact-link:hover{
    color: var(--color-accent);
}